[user]
	name = Jack Valmadre
	email = jack.valmadre@gmail.com
[push]
	default = current
[core]
	editor = vim
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[difftool]
	prompt = false
